.containers{
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: #024059;

}

.balance{
    margin-top: 100px;
    margin-right: 70px;
    width: 40%;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transferencia{
    margin-top: 100px;
    margin-left: 70px;
    width: 30vw;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
}

h2{
    margin-top: -20px;
    margin-bottom: 10px;
}

/*El container del balance y tambien para cambiar el scroll*/
.container-bal{
    display: block;
    width: 91%;
    height: 400px;
    background-color: rgb(235, 235, 235);
    overflow-y: scroll;
}
.container-bal::-webkit-scrollbar{
    width: 7px;
}
.container-bal::-webkit-scrollbar-thumb{
    background-color: #024059;
    border-radius: 3px;
}
.saldo-now{
    width: 90%;
    height: 20px;
}

.balance-group{
    width: 100%;
    height: 50px;
    background-color: #005b8071;
    margin-bottom: 5px;
}

#name{
    float: left;
    margin-left: 10px;
}
#saldo{
    float: right;
    margin-right: 10px;
}

span{
    font-weight: 500;
    margin-top: 10px;
    font-size: 17px;
}
