*{
    margin: 0;
    padding: 0;
}
.header{
    position: absolute;
    width: 100vw;
    height: 80px;
    background-color: #27C5E3;
    color: white;
}

nav{
    padding: 0 30px;
    height: 80px;
}

.container{
    float: right;
}
img{
    width: 150;
    height: 60px;
}

.container-logo{
    float: left;
}

ul{
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
}

li{
    padding: 30px;
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

#logo{
    margin-top: -20px;
    margin-left: 20px;
}

.container li:hover{
    background-color: rgba(39, 112, 227, 0.89);
}

.log{
    text-decoration: none;
    color: white;
}